body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.dark {
    background-color: rgb(33, 32, 32);
}

.light {
    background-color: rgb(48, 48, 49);
}

.grow {
    flex: 1;
}

p,
input,
input::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

a {
    text-decoration: none;
}

.title {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.centered {
    justify-content: center;
}

.left {
    justify-content: left;
}

.flexboxCol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fullHeigthWidth {
    width: 100%;
    height: 100%;
}

.width400 {
    width: 100%;
    max-width: 400px;
}

.paddingB {
    padding-bottom: 30px;
}

.paddingT {
    padding-top: 30px;
}

.image {
    width:auto;
    max-height:350px;
    margin: 10px;
    border-radius: 10px;
}

.imageFull {
    width:100%;
}

.heroImage {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
    position: relative;
}

.heroText {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.button {
    padding: 10px 20px 10px 20px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    width: 150px;
}

.button:not(:disabled) {
    cursor: pointer;
}

.button:hover:not(:disabled) {
    background-color: rgb(116, 12, 123);
}

.iconButton {
    cursor: pointer;
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: rgb(209, 223, 235);
}

.navbar {
    width: 100%;
    padding: 10px;
    position: fixed;
}

.smallTitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.smallTitle:hover {
    color: rgb(116, 12, 123);
}

@media only screen and (max-width: 800px) {
    .smallTitle {
        display: none;
    }

    .navbar {
        justify-content: center;
    }
}

/*spinner*/
.loaderAndInputContainer {
    position: relative;
    width: 100%;
    max-width: 500px;
    ;
}

.loader {
    width: 24px;
    height: 24px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 10px;
    display: inline;
    position: absolute;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*button inside input field*/
.input-container {
    position: relative;
    width: 100%;
    display: inline;
}

.input-container input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: rgb(209, 223, 235);
    padding-left: 20px;
    transition: background-color 0.3s ease;
}

.input-container button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: 1px solid transparent;
    background-color: transparent;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

.input-container:hover input {
    background-color: rgb(190, 202, 213);
}

.input-container button:hover {
    color: rgb(116, 12, 123);
}

.input-container input,
.input-container button {
    font-size: 16px;
}